@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 15s linear infinite;
}
@keyframes spina {
    to {
        transform: rotate(-360deg);
    }
}
.animate-spina {
    animation: spina 15s linear infinite;
}
.changebg {/* Safari 6.0 - 9.0 */
    filter: invert(10);
    filter: drop-shadow(0.35rem 0.35rem 1rem #dfb722);
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .desbg {
      -webkit-backdrop-filter: blur(150px);
      backdrop-filter: blur(50px);
        
    }
}
.newamst {
    font-family: "New Amsterdam", sans-serif;
}
  